.navigation{
    position: relative;
    height: 80px;
    width: 100%;
    text-align: center;
    top: 0px;
}

.navigation .sign{
    width: 218px;
    text-align: center;
    line-height: 80px;
    float: left;
}
.navigation .sign img{
    width: 100%;
    padding-top: 10px;
}

.navigation .navlist {
    float: right;
}
.navigation .navlist ul{
    margin-left: 300px;
}
.navigation .navlist ul li{
    float: left;
    margin: 0 30px 0 0px;
    width: 80px;
}

.navigation .navlist>ul>li>a{
    color: #465863;
    line-height: 80px;
    font-size: 16px;
}


.erjinav{
    width: 100px;
    background: rgba(65, 64, 64, 0.7);
    display:none;
    z-index: 999;
    position: absolute;
    left: 700px;
    border-radius: 5px;
    text-align: center;
    top: 78px;
   
}
.erjinav li{
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    margin:0 auto !important ;
}
.erjinav li a{
    color:#465863;
    font-size: 14px;

}

.erjinav li a:hover{
    color: #fff !important;
    background: #e72526;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}

.erjinav1{
    width: 100px;
    background: rgba(65, 64, 64, 0.7);
    display:none;
    z-index: 999;
    position: absolute;
    left: 820px;
    border-radius: 5px;
    text-align: center;
    top: 78px;
}

.erjinav1 li{
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    margin:0 auto !important ;
}
.erjinav1 li a{
    color:#465863;
    font-size: 14px;

}

.erjinav1 li a:hover{
    color: #fff !important;
    background: #e72526;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}

.erjinav2{
    width: 100px;
    background: rgba(65, 64, 64, 0.7);
    display:none;
    z-index: 999;
    position: absolute;
    left: 920px;
    border-radius: 5px;
    text-align: center;
    top: 78px;
}

.erjinav2 li{
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    margin:0 auto !important ;
}
.erjinav2 li a{
    color:#465863;
    font-size: 14px;

}

.erjinav2 li a:hover{
    color: #fff !important;
    background: #e72526;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}

/* -------------------------------------------- */
.first .zhongxintu{
    padding: 60px 80px 0 80px;
    width: 1500px;
    height: 565px;
    margin: 0 auto !important;
}

.first .zhongxintu img{
    width: 100%;
    height: 650px;
}


.imgtitel{
    position: absolute;
    width:655px;
    height: 200px;
    left: 32%;
    top: 300px;
    
  
}
.imgtitel:before,.imgtitel:after{
    content: " ";
    display: block;
    position: absolute;
    width:680px;
    height:220px;
    top: -10px;
    left: -12px;
    border:3px solid rgb(255, 244, 84);
    z-index:10;
    box-sizing: border-box;
    -webkit-animation: clipAni 4s infinite linear;
}
.imgtitel:before{
    -webkit-animation-delay: -6s;
}
@keyframes  clipAni{
    0%,100%{
        clip:rect(0px,690px,0px,660px);
    }
    25%{
        clip:rect(0px,300px,3px,0px);
    }
    50%{
        clip:rect(0px,3px,3px,0px);
    }
    75%{
        clip:rect(220px,690px,660px,0px);
    }            
}

.zhuti1 p{
    position: absolute;
    top: 350px;
    left: 830px;
    font-size:52px;
    font-weight: 800;
    color:#4658;
    letter-spacing:20px;




    opacity: 0;      /*实先规定文字的状态是不显示的*/
    animation: fade-in 3s ease 0s 1;    /*调用名称为fade-in的动画，全程动画显示时间4S，进入方式为ease，延时0S进入，播放次数1次*/
    -webkit-animation: fade-in 3s ease 0s 1;
    -moz-animation: fade-in 3s ease 0s 1;
    -o-animation: fade-in 3s ease 0s 1;
    -ms-animation: fade-in 3s ease 0s 1;
    
    /*规定动画的最后状态为结束状态*/
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;  
      -o-animation-fill-mode: forwards; 
      -ms-animation-fill-mode: forwards;   
      -moz-animation-fill-mode: forwards;

}



@-webkit-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-ms-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-o-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
@-moz-keyframes fade-in{
    0%{ opacity: 0;}
    100%{opacity:1;}
}
/* 2 */

.fuwuneirong{
    width: 1500px;
    height: 300px;
    margin: 0 auto;
}

.fuwuneirong .fl{
    float: left;
    width: 610px;
    background: #e72526 ;
    height: 300px;
    text-align: left;
    padding-left: 50px;
    padding-top: 60px;

}

.fuwuneirong .fl .xiaobiao{
    font-size: 24px;
    line-height: 40px;
    color: #fff;
    margin-bottom: 15px;
}

.fuwuneirong .fl .xiaobiaoneirong{
    font-size: 14px;
    color: #ffc9c9;
    line-height: 24px;
    overflow: hidden;
    height: 150px;
    overflow: hidden;
    width: 375px;
}
.fuwuneirong .fr{
    color: #e72526;
    float: left;
}


.fuwuneirong .fl .hengxian{
    width: 55px;
    height: 4px;
    background: #fff;
    margin-bottom: 30px;
    display: inline-block;
}

.fuwuneirong .fr {
    width:56%;
    float: right;
}

.fuwuneirong .fr img{
    width: 839px;
    height: 360px;
}

.fuwuneirong .huibeijing{
    background: #f9f9f9;
    width: 1500px;
    height: 850px;
    }

.fuwuneirong .huibeijing img{
    width: 900px;
    height: 450px;
    margin-top: 20px;
}



/* yewubankaui */

.yewuzhongxin{
    padding-top: 50px;
    width: 1500px;
    margin: 0 auto;
}




.yewubankuai-img img{
    margin-top:65px;
}


.yewulist{
    display:flex;
    margin: 0 auto;
    width: 1200px;
    justify-content: space-between;
    padding-top: 20px;

}

.yewulist .yuwubox{
    font-family: 'Kanit', sans-serif;
	text-align: center;
	/* box-shadow: 2px 2px 2px #e6e6e6; */
	overflow: hidden;
	position: relative;
}

.yuwubox:hover{ box-shadow: 13px 13px 15px rgba(0, 0, 0, 0.3); }


.yewulist .yinshitubiao{
   position: absolute;
   top: 20px;
   left: 60px;
   width: 230px;
   height: 230px;
}

.yuwubox .yingshiwenzi{
    position: absolute;
    top: 175px;
    left: 120px;
    width: 125px;
    color: #fff;
    font-size: 24px;

}


.yuwubox .yingshiwenzi:hover{
    display:none;
}
/* .yewulist .yewulist1-1>img{
    width: 100px;
    height: 100px;
    position: absolute;
    top:20px;
} */
.yewulist img{
    width: 400px;
    height: 240px;
}

.yuwubox:before{
	content: "";
	background: linear-gradient(to left top,#686868,#080808);
	height: 100%;
	width: 100%;
	opacity: 0.5;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 0.4s linear;
}


.yuwubox:hover:before{ opacity: 1; }

.yuwubox img{
	width: 400px;
	height: 240px;
	transition: all 0.4s linear;
}

.yuwubox:hover p{
    opacity:0;
	transform: scale(3);
}


.yuwubox:hover img{
	opacity:0;
	transform: scale(3);
}

.yuwubox .yewulist1-1{
	color: #fff;
	width: 100%;
	transform: translateY(-50%) scale(0);
	position: absolute;
	top: -40px;
	left: 0;
    transition: all 0.4s linear;
    
}

.yuwubox .yewulist1-1>.zhizuotitle{
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
}


.yuwubox .yewulist1-1>.jieshi{
	font-size: 16px;
    text-transform: capitalize;
    padding: 0 10px;
}

.yuwubox:hover .yewulist1-1{ transform: translateY(80%) scale(1); }


.topdingwei{
    position: absolute;
    top: -100px !important;
}


.topdingwei1{
    position: absolute;
    top: -60px !important;
}


.yinshitubiao-icon{
    position: absolute;
    top: 20px;
    left: 110px;
    width: 150px !important;
    height: 150px !important;
}
.yinshitubiao-icon1{
    position: absolute;
    top: 40px;
    left: 130px;
    width: 90px !important;
    height: 90px !important;
}


.mart30{
    margin-top: 30px;
    padding-top: 60px;
}


/* 4 */

.fuwudabeijing{
    width: 1500px;
    background: #f9f9f9;
    margin: 0 auto;
    height: 100%;
}

.fuwuzhilaing{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}



.fuwuzhilaing p{
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 23px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 45px;
    color: #333;
}

